/* Custom proprieties */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-red: #ca1717;

}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Generals */
body {
    background-color: var(--color-darkgrey);
    color: var(--color-light);
}

.wrapper{
    background-color: var(--color-darkgrey);
    height: 100vh;
}

.upper-content{
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}


/********************************
PLAYBAR
*********************************/
footer {
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
}


/********************************
SIDEBAR
*********************************/
#sidebar {
    flex: 0 0 230px;
    background-color: var(--color-black);
}


/* main */
main {
    flex: 1 1 auto;
    overflow-y: auto;
}

/* Flex utility */
.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}
/********************************
DESKTOP FIRST
*********************************/

